<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/update.css">
    <title>CRUD</title>
</head>
<body>
    <div id="update-wrapper">
        <h1>UPDATE</h1>
        <form action="/update-process" method="post">
            <%- hiddenInput %>
            <label>Title</label>
            <%- input %>
            <br>
            <label>Contents</label>
            <%- textarea %>
            <input id="update-btn" type="submit" value="UPDATE">
        </form>
        <button id="delete-btn" >DELETE</button>
    </div>

    

</body>
</html>